/*! Обнуление */
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*! Обнуление */

body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
header {
	background-color: #2c2c2c;
	padding-bottom: 160px;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
/** clearfix*/
.clearfix::after {
	content: "";
	display: table;
	width: 100%;
	clear: both;
	/** clearfix*/
}
.logo {
	min-width: 100px;
	min-height: 100px;
	max-width: 100px;
	max-height: 100px;
	float: left;
}
.scrollto{
	
	
}
nav {
	float: right;
	margin-top: 45px;
}
.menu {
	padding: 0;
	margin: 0;
	display: block;
}
.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}
.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
.titles_first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}
h1 {
	font-size: 71px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}
.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}
.title {
	padding-top: 115px;
}
.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}
.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
.services {
	margin-top: 80px;
}
.services_item {
	width: 270px;
	float: left;
	text-align: center;
}
.services_item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}
.services_item p {
	font-size: 14px;
	color: #777777;
	line-height: 1.55em;
}
.services_item:last-child {
	float: right;
}
.services_item:nth-child(2) {
	margin-left: 100px;
}
#services {
	padding-bottom: 120px;
}
#market {
	background: #f7f7f7;
	padding-bottom: 120px;
}
.works {
	margin-top: 70px;
}
.works img {
	float: left;
}
.works img:nth-child(2) {
	margin-left: 62px;
}
.works img:last-child {
	float: right;
}
.image-slider {
	padding: 30px 0 70px 0;
}
.image-slider__wrapper {
}
.image-slider__slide {
}
.image-slider__image {
	text-align: center;
}
.image-slider__image img {
	max-width: 100%;
}
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
	color: #fed136;
	font-size: 75px;
}
.image-slider .swiper-pogination {
	bottom: 0;
}
.image-slider .swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	line-height: 15px;
	font-size: 15px;
	background-color: #777777;
}
#Aboutus {
	padding-bottom: 120px;
}
.info {
	padding-bottom: 120px;
}
.info_works {
	padding-top: 80px;
}
.info_text {
	padding-bottom: 0px;
	float: right;
	
}
.info_image :nth-child(1) {
	float: left;
	padding-top: 0px;
}

.info_image {
	float: left;
	padding-right: 50px;
	padding-top: 0px;
}
.text_first-info{
	padding-top: 0px;
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
}
.text_second-info{
	float: center;
	font-size: 15px;
}
.info_works-info{
	padding-bottom: 120px;
}
.contact{
	padding-top: 830px;
	position: relative;
	height: 699px;
 }
 
 .text-content{
	padding-top: 120px;
	background-color: #232328;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 }
 
 .Contact-text{
	color: #FFf;
	font-size: 4rem;
	line-height: 110%;
	margin: 1rem 0 2rem 0;
 }
.Contact-text-content{
	color: #FFf;
	font-size: 1.64rem;
	line-height: 110%;
 }
 
 .map-content{
	display: flex;
	justify-content: flex-start;
	height: 500px;
 }
 
 #map {
	position: absolute;
	width: 100%;
	height: 500px;
 }
 
 h6{
	font-size: 1rem;
	line-height: 110%;
	margin: 0.5rem 0 0.4rem 0;
 }
 
 .card{
	 padding: 2rem;
 }
 
 .card-title{
	display: flex;
	justify-content: center;
	align-content: center;
	font-size: 24px;
	font-weight: 500;
	padding-bottom: 20px;
 }
 
 .card-content{
	display: flex;
	padding: 20px;
 }

label{
	color: #9e9e9e;
	position: relative;
	top: 1.5rem;
	font-size: 1rem;
	cursor: text;
	transition: .2s ease-out;
}
input{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 2em;
	width: 100%;
	font-size: 1.4rem;
	margin: 0 0 -15px 0;
	padding: 0px;
	box-shadow: none;
	box-sizing: content-box;
	transition: all 0.3s;
}
input:focus, textarea:focus{
	border-bottom: 1px solid #ff5252;
	box-shadow: 0 1px 0 0 #ff5252;
}
input:focus + label, textarea:focus + label{
  color: #F44336;
  font-size: 0.8rem;
  transform: translateY(-140%);
}
.contact-form{
	background: #f7f7f7;
	position: relative;
	display: flex;
	justify-content: center;
	left: 235px;
	bottom: 465px;
	width: 515px;
	height: 476px;
	background-color: white;
	border-radius: 3px;
 }
.btn{
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 2rem;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #ff5252;
	color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
 
.social-f{
	width: 100%;
	height: 80px;
	background-color: #232328;
	padding-top: 160px;
	text-align: center;
 }
 
.icons{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	color: #FFf;
	background-color: #2a2a2f;
}
 
.copyright-f{
	width: 100%;
	height: 40px;
	background-color: #29292d;
}
 
.copyright{
	margin: 0;
	font-size: 15px;
	line-height: 2.5rem;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
}
 
.fa-heart{
	color: #f44336;
}
 
.copyright a{
	text-decoration: none;
	color: #fff;
}
 
.social-f a i{
	position: relative;
	top: 31%
}
 
.icons:hover, .copyright a:hover{
	color: #ff5252;
}